textanalysis/text
textanalysis/text_cleaned
p5loader/clip_by_clip/text
p5loader/clip_by_clip/text_cleaned
textanalysis/output/distmat_sqrt.png
textanalysis/output/distmat.png
textanalysis/output_old/distmat.png
textanalysis/output_old/distmat_sqrt.png
p5Dumpster/.DS_Store
p5Dumpster/port_01/.DS_Store
p5Dumpster/port_01/data/.DS_Store
p5loader/.DS_Store
p5loader/.DS_Store
p5loader/txtimg_loader_v3/.DS_Store
textanalysis/.DS_Store
p5loader/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
textanalysis/.DS_Store
.DS_Store
